

/* ==========================================================================
Author's custom styles
========================================================================== */
/* fonts */
@font-face {
 font-family:oswald-light;
 src: url('../fonts/Oswald-Light.ttf');
}
@font-face {
 font-family:oswald-bold;
 src: url('../fonts/Oswald-Bold.ttf');
}
@font-face {
 font-family: oswald-extralight;
 src: url('../fonts/Oswald-ExtraLight.ttf');
}
@font-face {
 font-family: Oswald-Regular;
 src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
 font-family: Oswald-italic;
 src: url('../fonts/Oswald-italic.ttf');
}
@font-face {
 font-family:opensans-regular;
 src: url('../fonts/OpenSans-Regular.otf');
}
@font-face {
 font-family:OpenSans-Bold;
 src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
 font-family:OpenSans-light;
 src: url('../fonts/OpenSans-Light.ttf');
}
*{
    margin:0px;
    padding: 0px;
}
/* header css */
body{
	margin: 0px;
	padding: 0px;
	font-family:opensans-regular;
	font-weight: 500;
}
img{
    object-fit: cover;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,li{
	font-family:oswald-regular;
	font-weight: 500;
}
header nav ul.menu-1 li {
    display: inline-block;
    color: rgba(34, 34, 34, 0.61);
    margin: 0px 14px;
}
.no-gutter{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.h1 {
    font-family: oswald-bold;
    letter-spacing: 3px;
    font-size: 38px;
    margin-bottom: 21px;
    font-weight: 900;
    text-transform: uppercase;
}
h3.h1 {
    color: #dc9916;
    font-family: oswald-bold;
    letter-spacing: 3px;
    font-size: 38px;
    margin-bottom: 21px;
}
a:hover,a:focus{
    color: #dc9916;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}
h3.h1 span {
    color: #222;
}
h3.h1 span:hover {
    color: #dc9916;
}
p.text{

}
p.title {
    font-size: 15px;
    color: rgba(34, 34, 34, 0.66);
    line-height: 2px;
    letter-spacing: 0.25px;
    font-weight: 600;
    margin-top: 5px;
}
header nav ul.menu-1 {
    margin-top: 15px;
    text-align: center;
}
header nav a.navbar-brand {
    font-size: 33px;
    color: #222;
    text-transform: lowercase;
    font-weight: 900;
    font-family: Oswald-bold;
}   
header nav ul.menu-1 li > a i.fa {
    padding-left: 5px;
    font-size: 16px;
}
header nav ul.menu-1 li > a {
    color: #222;
    font-size: 14px;
    padding-left: 13px;
}
header nav ul.menu-1 li > ul.dropdown-menu li {
    display: block !important;
    padding: 10px 13px;
    margin: 0px !important;
    border-bottom: 1px solid rgba(153, 153, 153, 0.45);
}
header nav.navbar.navbar-fixed-top {
    background-color: #fff;
    padding: 10px 0px;
}
.padding-top-20{
    padding-top:20px !important;
}
header nav ul.menu-1 li > ul.dropdown-menu {
        position: absolute;
    top: 161%;
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
}
header nav .col-sm-3.text-right ul.menu-1 {
    text-align: right;
}
/* header css end*/
.section-margin{
    margin-top: 20px;
}
.secondry-bg{
    background-color: #f8f8f8;
}
.section-tile{
    text-align: center;
}
.section-padding{
    padding-top: 30px;
}
.section-padding-50{
    padding-top: 50px;
}
.button{
    color: #ffffff;
    background: #dc9916;
    height: 46px;
    line-height: 46px;
    border-radius: 46px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 20px;
    padding: 0 30px;
}
.button:hover {
    color: #ffffff;
    background: #2d2d2d;
}
/* banner css */
.index .banner ul{list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.index .banner{
    max-height: 600px;
    overflow: hidden;
}
.index .banner .item{
    margin-bottom: 60px;
}
.index .banner .content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

.index .banner ul.lSPager.lSpg {
		display: none;
}
.index .banner .slider-image img {
    width: 100%;
    height: auto;
}
.index .banner li.lslide {
    position: relative;
}
.index .banner .slider-content {
    position: absolute;
    top: 0px;
    color: #fff;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(177, 177, 177, 0.22);
}
.index .banner .slider-content .content {
    position: relative;
    top:15%;
}
.index .banner .slider-content .content h1 {
    font-size: 72px;
    font-family: oswald-light;
    letter-spacing: 14px;
    line-height: 80px;
    text-shadow: 0px 2px 0px #fff;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
}
.index .banner .slider-content .content p{
    line-height: 33px;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 24px;
    width: 100%;
}
.index .banner .slider-content .content a.button{
    
}

/* banner css end */
/* second scroll section css*/
.content{
    position: relative;
}
.image-box img {
    min-height: 575px;
    width: 100%;
}
.content-box{
    position: absolute;
    top: 0px;
}
.back-image{
    background-size: cover;
    background-repeat: no-repeat;
}
.index .scroll-first{

}
.index .about-sec{

}
.index .about-sec .content-box p.title {
    width: 60%;
    margin: 26px 0px;
}
.overlay-box{
    position: relative;
}
.hover-overlay{
    position: absolute;
    height: 100%;
    width: 89.2%;
    padding: 100px 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-transition: .7s ease-in;
    text-align: center;
    color: #efefef;
}
.overlay-box > .hover-overlay{
    display: none;
}
.width-95{
    width: 95%;
}
.overlay-box:hover > .hover-overlay{
    display: inline-block;
}
.image-full-width img{
    max-height:280px;
    width: 100%;
}
.image-half-box img {
    max-height: 280px;
    width: 100%;
}
/*second scroll section end*/
/* card css*/
.card{
    position: relative;
}
.card .card-image {
    position: inherit;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    height: auto;
    padding: 0;
}
.card .card-image:before{
    content: "";
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0.5;
    transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}
.card:hover .card-image:before {
    opacity: 0.05;
    transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}
.card .card-time{
    position: absolute;
}
/* card css end*/
/*footer css*/
footer .footer-copyright{
    background: #000;
    color: rgba(255, 255, 255, 0.54);
    text-align: center;
    padding: 12px;
    font-size: 16px;
}
footer .title-footer{
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 24px;
    padding-left: 13px;
    color: #999;
    letter-spacing: .7px;
}
footer .footer-box i.fa {
    font-size: 22px;
    color: #827e7e;
}
footer .top-footer{
    border-left: 4px solid #222;
}
footer .footer-box.no-gutter.col-xs-12 {
    margin-bottom: 12px;
}
footer p.text{
    font-size: 12px;
}
footer p.title{
    font-size: 14px;
}
footer .News-letter p.text{
    font-size: 15px;
    color: #777777;
    font-weight: 600;
}
footer .logo-footer p.text{
    font-size: 15px;
    color: #777777;
    font-weight: 600;
}
footer input.input {
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.63);
    padding: 7px;
    background: rgba(153, 153, 153, 0.27);
    color: #fff;
}
footer input:focus,footer input:hover{
    outline: 0;
}
footer input.button {
    border: 0px;
    border-radius: 0px;
    padding: 0px 15px;
}
footer .logo-footer img {
    height: 107px;
    margin-bottom: 41px;
}
footer .instgram-footer .footer-box .image-footer {
    padding: 2px;
}
footer .instgram-footer .footer-box .image-footer img {
    width: 100%;
}
/*footer css end*/
















